[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[packages]
graphene-django = "*"
Django = "==2.2.18"
gunicorn = "*"
django-environ = "*"
"psycopg2" = "*"
django-cors-headers = "*"
pytz = "*"
whitenoise = "*"

[requires]
python_version = "3.6.8"

[dev-packages]
ipdb = "*"
